<h2><em>me.</em></h2>

<p>My name is Paul, I live near York, UK with my wife
Emily. I enjoy watching <%= link_to 'sport', '/sport' %>, 
especially American sport. I like to play 
<%= link_to 'poker', '/poker'%>,
both online and in pubs.</p>

<p>I <%= link_to 'work', '/work' %> as a Technical 
Consultant at <%= link_to 'AHC', 'http://www.ahc.uk.com'%>, in
Heath, Wakefield next to an awesome pub.</p>