/* --- Layout --- */

html{
  overflow-y: scroll;
  font-family: Helvetica, Verdana, Arial;
}


body{  
  background: url('/images/bg.jpg');
  color: #424242;
}

a, a:visited{
  color: #666666;
}

#container {
  width:950px;
  margin:0 auto;
  margin-left: 120px; /* force some room for floating tabs */
}

#header{
  background-color: #FFFFFF;
  background: -webkit-gradient(linear, left top, right top, from(#ffffff), to(#000000));
  background: -moz-linear-gradient(left,  #ffffff,  #000000);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#000000');
  color: #333333;
}

#header h1{
  padding: 10px 30px;
}

#top-nav{
  position: fixed;
  top: 100px;
  left: 0;
}

#top-nav ul{
  padding-left: 0;
}

#top-nav li{
  background-color: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#cccccc));
  background: -moz-linear-gradient(top,  #ffffff,  #cccccc);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#cccccc');
  list-style: none;
  padding: 5px 10px 5px 10px;
  margin-left: 0px;
  margin-bottom: 5px;  
  border-bottom-right-radius: .5em;  
  -moz-border-radius-bottomRight: .5em;
  -webkit-border-radius-bottomRight: .5em; 
  border-top-right-radius: .5em;  
  -moz-border-radius-topright: .5em;
  -webkit-border-radius-topright: .5em;   
}


#top-nav li a{
  color: #333333;
  text-decoration: none;
  font-size: 110%;
}

#top-nav li.rollover{
  background-color: #A4DCD1;
  background: -webkit-gradient(linear, left top, left bottom, from(#cccccc), to(#999999));
  background: -moz-linear-gradient(top,  #CCCCCC,  #999999);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#999999'); /*-- WTF IE --- */
}
#top-nav li.rollover a{
  color: #333333;
}

#top-nav li.active{
  background-color: #CCCCCC;
  background: -webkit-gradient(linear, left top, left bottom, from(#CCCCCC), to(#999999));
  background: -moz-linear-gradient(top,  #CCCCCC,  #999999);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CCCCCC', endColorstr='#999999');
}
#top-nav li.active a{
  color: #333333;
}

#main{
  
}


#content{
  width: 950px;
  float: left;
  background-color: #f3f3f3;
  padding-bottom: 50px;
}

#content-padder{
  padding: 0 30px;
}

#min-height-force{
  width: 1px;
  height: 400px;
  float: right;
  
}

.comment{
  width: 700px;
  float: left;
}
.added-by{
  float: left;
  width: 100px;
}
.score{
  float: left;
}

.scores-table{
  width: 100%;
}

.new{
  color: #770000;
}

/* ------- Sports ------- */

.right{
  color: #00ca00;
}
.wrong{
  color: #990000;
}

.game{
  margin-bottom: 50px;
}
.game .fixture{
  float: left;
  width: 12%;
  background: #377611;
  color: #ffffff;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
.handicap{
  float: right;
  margin-right: 10%;
}
.notes{
  float: left;
  width: 60%;
  margin-left: 2%;
}
.pick, .result{
  clear: left;
  margin-left: 14%
}

#all-results{
  background: #377611;
  color: #ffffff;
  padding: 20px 5px;

}

#all-results p{
  margin-left: 10px;
}

#all-results ul {
}
#all-results ul li{
  list-style: none;
  border: 1px solid #ffffff;
  float: left;
  padding: 10px;
}
#overall-result{
  border: 1px solid #ffffff;
  margin: 10px 40px;
  float: left;
  padding: 10px;
  clear: both;
}
#previous-results{
  float: right;
  padding: 10px;
  clear: both;
}
#previous-results a, #previous-results a:visited{
  color: #ffffff;
}
.comment-form{
  clear: left;
  width: 100%;
}
#footer{
  clear: both;
  height: 200px;
  padding-left: 30px;
}
/* ---- Styles ------ */
.clear{
  clear: both;
}

