/* --- Layout --- */

html{
  overflow-y: scroll;
  font-family: Helvetica, Verdana, Arial;
}


body{
  background-color: #fff;
  color: #424242;
}

a, a:visited{
  color: #666666;
}

#container {
  width:950px;
  margin:0 auto;
}

#header{
  background-color: #A4DCD1;
  background: -webkit-gradient(linear, left top, right top, from(#A4DCD1), to(#ffffff));
  background: -moz-linear-gradient(left,  #A4DCD1,  #ffffff);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A4DCD1', endColorstr='#ffffff');
  color: #333333;
}

#header h1{
  padding: 10px 30px;
}

#top-nav{
  float: right;
}

#top-nav li{
  background-color: #A4DCD1;
  background: -webkit-gradient(linear, left top, left bottom, from(#668E86), to(#A4DCD1));
  background: -moz-linear-gradient(top,  #668E86,  #A4DCD1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#668E86', endColorstr='#A4DCD1');
  float: right;
  display: inline;
  padding: 5px 10px 5px 10px;
  margin-left: 5px;  
  border-top-left-radius: .5em;  
  -moz-border-radius-topleft: .5em;
  -webkit-border-radius-topleft: .5em; 
  border-top-right-radius: .5em;  
  -moz-border-radius-topright: .5em;
  -webkit-border-radius-topright: .5em;   
}


#top-nav li a{
  color: #333333;
  text-decoration: none;
  font-size: 110%;
}

#top-nav li.rollover{
  background-color: #A4DCD1;
  background: -webkit-gradient(linear, left top, left bottom, from(#A4DCD1), to(#668E86));
  background: -moz-linear-gradient(top,  #A4DCD1,  #668E86);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A4DCD1', endColorstr='#668E86'); /*-- WTF IE --- */
}
#top-nav li.rollover a{
  color: #333333;
}

#top-nav li.active{
  background-color: #668E86;
  background: -webkit-gradient(linear, left top, left bottom, from(#668E86), to(#668E86));
  background: -moz-linear-gradient(top,  #668E86,  #668E86);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#668E86', endColorstr='#668E86');
}
#top-nav li.active a{
  color: #333333;
}

#main{
  
}


#content{
  width: 950px;
  float: left;
  background-color: #A4DCD1;
  background: -webkit-gradient(linear, left top, left bottom, from(#A4DCD1), to(#ffffff));
  background: -moz-linear-gradient(top,  #A4DCD1,  #ffffff);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A4DCD1', endColorstr='#ffffff');
}

#content-padder{
  padding: 0 30px;
}

#min-height-force{
  width: 1px;
  height: 400px;
  float: right;
  
}

.comment{
  width: 700px;
  float: left;
}
.added-by{
  float: left;
  width: 100px;
}
.score{
  float: left;
}

.scores-table{
  width: 100%;
}

.new{
  color: #770000;
}
  

.comment-form{
  clear: left;
  width: 100%;
}
#footer{
  clear: both;
  height: 200px;
  padding-left: 30px;
}
/* ---- Styles ------ */
.clear{
  clear: both;
}

