<h2><em>work.</em></h2>
<p>I'm currently employed at <%= link_to 'AHC', 'http://www.ahc.uk.com' %> as a technical consultant.
  I work as part of a small, but growing,  team building pensions websites and modellers. I'm passionate about my
  work and like working with agile technologies.</p>

<p>I have a <%= link_to 'github account', 'http://www.github.com/yule' %>.</p>

<h3>technologies I work with and enjoy</h3>

<ul>
  <li>Ruby and Rails</li>
  <li>JavaScript</li>
  <li>Html(5) and CSS (3)</li>
  <li>Linux</li>
</ul>

<h3>technologies I work with</h3>

<ul>
  <li>ActionScript / Flash</li>
  <li>Java</li>
  <li>php</li>
  <li>Microsoft products</li>
</ul>


  