%h2 raise the the bar...
%p 
  preaching to the converted
  use: git, rvm, bundle. 
  Create documentation. Readme/github wiki. API doc, examples et

%h2 Event Machine.
%p
  article on C10k. 
  get some_data do |request|
  send response
  end
  

%h2 Data stories
%p
  3 types of data - public/internal/private
  Cleaning data?
  supercrunchers
  outliers
  science of fear
  R - stats tool
  