
<h3> Week 5 </h3>

<p><strong>KC @ IND</strong> Indy may just get their first win here. Curtis has been better than expected last couple of weeks and the Chiefs are awful. Aparently Freeney and Mathis are fit. That tips the edge to the Colts
<br/>
<strong> Bets: <span class="wrong">IND -2 (1.9)</span></strong>
<br/>
<span class="wrong">Loss £1.00 </span>
</p>

<p><strong>ARZ @ MIN</strong> The Vikes lost to the Chiefs last week, now that's gotta hurt. Again, they blew a lead. Both teams will run this. A lot. Since the Vikes have the better runner, I'll go for them.
<br/>
<strong> Bets: <span class="right">MIN  -3 (1.95)</span></strong>
<br/>
<span class="right">Profit £0.95 </span>
</p>

<p><strong>PHI @ BUF</strong> Officially the 'dream team' is no more. It's just plan ol' Philadelphia. Both teams are coming off a loss and looking to get back to winning ways. Vick is playing, which a huge plus. The Eagles just can't defend the pass and I think Fitzpatrick may take advantage of that.
<br/>
<strong> Bets: <span class="right">BUF +3  (1.83)</span></strong>
<br/>
<span class="right">Profit £0.83 </span>
</p>

<p><strong>OAK @ HOU </strong> Another battle of the runners. Houston won't be able to stretch the field without Andre Johnson. For this reason I think it's decided by less than a TD
<br/>
<strong> Bets: <span class="right">OAK  +6 (1.86)</span></strong>
<br/>
<span class="right">Profit £0.86 </span>
</p>

<p><strong>NO @ CAR </strong> One word, Shootout. This'll be fun to watch. It'll be a case of which team scores last. So difficult to call this one. 
<br/>
<strong> Bets: <span class="right">CAR  +6.5 (1.9)</span></strong>
<br/>
<span class="right">Profit £0.90 </span>
</p>

<p><strong>CIN @ JAX </strong> The Bengals are #1 in the league on Defence. That's amazing. Jacksonville have been so-so this year. I like the Bengals in this one. Plus Blaine Gabbert to throw about 3 picks.
<br/>
<strong> Bets: <span class="right">CIN  +2 (1.9)</span></strong>
<br/>
<span class="right">Profit £0.90 </span>
</p>

<p><strong>TEN @ PIT </strong> Wish I saw this at the beginning of the week when the Titans were +8. They are coming off an easy win against the Browns, but the Steelers are coming off a hard loss against the Texans. I'll take the Steelers with their superior running game.
<br/>
<strong> Bets: <span class="right">PIT  -3 (1.83)</span></strong>
<br/>
<span class="right">Profit £0.83 </span>
</p>

<p><strong>SEA @ NYG </strong> I've been impressed with Seatle's Red Zone D this season. However, their offence has been able to do nothing averaging less than 15 points a game. The Giants are up near 25 and this game should be reflective of these stats. Giants by 10.
<br/>
<strong> Bets: <span class="wrong">NYG  -9.5 (1.9)</span></strong>
<br/>
<span class="wrong">Loss £1.00 </span>
</p>

<p><strong>SF @ TB </strong> Two very good teams. I like them both this year and could very well end up being a preview of a play-off game this year. The 9ers are good against the run, which should just tip them for this one.
<br/>
<strong> Bets: <span class="right">SF  -3 (2.00)</span></strong>
<br/>
<span class="right"> Profit £1.00</span>
</p>

<p><strong>NYJ @ NE </strong> This ol' chestnut. Huge rivalry game and the Jets always step it up against the Pats. The Jets are coming off two defeats, which is rare for this team. My head says New England, but I'll go for the Jets with the spread being more than a TD
<br/>
<strong> Bets: <span class="wrong"> NYJ +7.5 (1.9)</span></strong>
<br/>
<span class="wrong"> Loss £1.00 </span>
</p>

<p><strong>SD @ DEN </strong> The Chargers finally have a good start to the season, which probably means their going to he playoffs this year. But this isn't a walkover division this year with the Raiders turning up. They have to keep winning. They're better in every category: rushing, passing, points, TOP, 3rd down conversion, Pass D, Run D, Points allowed 3rd down conv given up. How can go against this?
<br/>
<strong> Bets: <span class="right"> SD -3.5 (1.9)</span></strong>
<br/>
<span class="right"> Profit £0.90 </span>
</p>
<p><strong>GB @ ATL </strong> Green Bay's ethos this year: Score as many points as possible and don't worry about the D. Although they have been strong against the run. The Falcons have been OK this year, but not as good as last year. They'll need to step it up here to have any chance here
<br/>
<strong> Bets: <span class="right">GB -5.5 (1.9)</span></strong>
<br/>
<span class="right"> Profit £0.90</span>
</p>

<p><strong>CHI @ DET </strong> Another divisional rivalry game. This one will be filthy. I don't like Cutler and he doesn't play well under pressure. Not only will he be on national TV, he'll have a very good pass rush after him all night. Detroit need to keep pace with Green Bay and I think both teams are 5-0 comfotably on Tuesday morning
<br/>
<strong> Bets: <span class="right">DET  -5.0 (1.9)</span></strong>
<br/>
<span class="right"> Profit £0.90 </span>
</p>



<h4>Bankers</h4>
<p>
<br/><span class="right">CIN (+2) to beat JAX: 1.9. Profit £4.50</span>
<br/><span class="wrong">NYG (-9.5) to bea SEA: 1.9. Loss £5.00</span>
<br/><span class="wrong">NYJ (+7.5) to beat NE: 1.9. Loss £5.00</span>
<br/><span class="right">SD (-3.5) to beat DEN: 1.9. Profit £4.50</span>
<br/><span class="wrong">4 FOLD ~ 12/1</span>
</p>



<h3>Week 4</h3>

<p><strong>DET @ DAL </strong> Detriot is 3-0, and a good 3-0 as well, scoring 33 points a game, allowing only 15. Compare this to Dallas (2-1) who are 23 and 22 respectively. Close game but I think the lions take this one.
<br/>
<strong> Bets: <span class="right"> DET +2.0 (1.9)</span></strong>
<br/>
<span class="right"> Profit £0.90 </span>
</p>

<p><strong>NO @ JAX </strong> Jacksonville D has been pretty solid, apart from week 2 at the Jets. The Saints are a lot better than the Jets offensively and will tear them apart, Gabbart is not good enough to score 4 TDs, which is what he'll need to get close to the Saints.
<br/>
<strong> Bets: <span class="right"> NO -7.0 (1.9)</span></strong>
<br/>
<span class="right"> Profit £0.90 </span>
</p>

<p><strong>SF @ PHI </strong> Mike Vick will be playing with a broken hand, yeah it's his non throwing hand, but it still affects his game as a rusher. With the Eagles D allowing 131 yards a game on the ground and Frank Gore in the back field. 9 points is too much to give away.
<br/>
<strong> Bets: <span class="right"> SF +9.0 (1.86)</span></strong>
<br/>
<span class="right"> Profit £0.90</span>
</p>

<p><strong>WAS @ STL </strong> The Rams have had a tough start to the season and this is probably their best chance for a win so far. They're getting players back off injury and they may just sneak this one against the skins.
<br/>
<strong> Bets: <span class="wrong"> STL + 2.5 (1.9)</span></strong>
<br/>
<span class="wrong"> Loss £1.00 </span>
</p>

<p><strong>TEN @ CLE </strong> Neither team has really faced an opponent yet. Think this is the Titan's to lose, which they may and with Cleveland at home, I think the 12th man comes up big in this one. 
<br/>
<strong> Bets: <span class="wrong">CLE +0 (1.9)</span></strong>
<br/>
<span class="wrong"> Loss £1.00</span>
</p>

<p><strong>BUF @ CIN </strong> The Bills are high after beating the Pats last week and are 3-0 for the first time in about 10 years. Wheras the Bengals are coming off a loss to the niners. Easy win for the Bills.
<br/>
<strong> Bets: <span class="wrong">BUF -3.0 (1.86)</span></strong>
<br/>
<span class="wrong"> Loss £1.00 </span>
</p>

<p><strong>MIN @ KC </strong> Two 0-3 teams clash. The Vikings have been good, and then dire in the 4th quarter. The Chiefs have just been dire.
<br/>
<strong> Bets: <span class="wrong">MIN -2.5 (1.90)</span></strong>
<br/>
<span class="wrong"> Loss £1.00</span>
</p>

<p><strong>CAR @ CHI </strong> Carolina didn't look as good last week in the rain against Jaxonville. But the weather shouldn't play a part here and Cam Newton will get his grove on again and keep this close against the bears.
<br/>
<strong> Bets: <span class="right">CAR +6.5 (1.86)</span></strong>
<br/>
<span class="right"> Profit £0.86</span>
</p>

<p><strong>PIT @ HOU </strong> The Steelers should have beaten the Colts by about 20, but just managed to scrape by 3, meanwhile the Texans lost a shootout in New Orleans. The high powered Texans offence will make this very intersting against the tough Pitsburgh D. This game will be decided by a FG.
<br/>
<strong> Bets: <span class="wrong">PIT +3.5 (1.90)</span></strong>
<br/>
<span class="wrong"> Loss £1.00</span>
</p>

<p><strong>ATL @ SEA </strong> The Falcons suffered a tough loss last week and really underperformed against the Bucs. This week they'll bounce back and hand the Seahawks a pounding.
<br/>
<strong> Bets: <span class="wrong">ATL -4.5 (1.90)</span></strong>
<br/>
<span class="wrong"> Loss £1.00</span>
</p>

<p><strong>NYG @ ARZ </strong> The Giants beat the Eagles on Monday night, so they're coming off a short week but are hot. Will be a good game this one, but New York's momentum just wins this.
<br/>
<strong> Bets: <span class="right">NYG -1.0 (1.90)</span></strong>
<br/>
<span class="right"> Profit £0.90</span>
</p>

<p><strong>MIA @ SD </strong> The Dolphins haven't been very good this year, mind you the Chargers haven't really acheived anything. The Dolphins are better than the Chiefs and the Vikings, both of whom SD have beat by a 3 and 7 points respectively. I'll take Miami with the spread.
<br/>
<strong> Bets: <span class="wrong">MIA +7.0 (1.90)</span></strong>
<br/>
<span class="wrong"> Loss £1.00</span>
</p>

<p><strong>DEN @ GB </strong> The Packers have been absolutely convincing so far this year and I see no reason why they won't win this one easily. 
<br/>
<strong> Bets: <span class="right">GB - 12.0 (1.90)</span></strong>
<br/>
<span class="right"> Profit £0.90</span>
</p>

<p><strong>NE @ OAK </strong> The Pats are gonna be pissed about a tough loss last week. They'll come out all guns blazing and walk down the field with ease. The Raiders won't make it easy for them, but they'll win by a TD.
<br/>
<strong> Bets: <span class="right">NE -5.0 (1.90)</span></strong>
<br/>
<span class="right"> Profit £0.90</span>
</p>

<p><strong>NYJ @ BAL </strong> This is all about which Baltimore turns up. So I think they turn up. The Jets will always play hard and I think they keep it close. Within a FG.
<br/>
<strong> Bets: <span class="wrong">NYJ +3.5 (1.86)</span></strong>
<br/>
</p>
<span class="pending"> Loss £1.00</span>

<p><strong>IND @ TB </strong> Painter or Orlovsky. Not a choice I'd like to make. The Colts are starting 0-4, it just depends on whether the Bucs cover teh spread or not. It'll be close and situation will dictate it.
<br/>
<strong> Bets: <span class="wrong">TB -10.0 (1.90)</span></strong>
<br/>
<span class="wrong"> Loss £1.00</span>
</p>


<h4>Bankers</h4>
<p>
<br/><span class="right">DET (+2.0) to beat DAL: 1.9 Profit £4.50</span>
<br/><span class="right">CAR (+6.5) to beat CHI: 1.86 Profit £4.30</span>
<br/><span class="right">SF (+9.0) to beat PHI: 1.86 Profit £4.30</span>
<br/><span class="wrong">TB(-10.0) to beat IND: 1.9 Loss £5.00</span>
<br/><span class="wrong">4 FOLD ~ 12/1</span>
</p>


<h3>Week 3</h3>

<p>Pretty good week, 11-5 against the spread. Pity the ones I got wrong were the bankers. How does the best team in the league lose and the two poorest teams in the league almost pull off an upset (Chiefs and Colts)?</p>

<p><strong>SF @ CIN</strong> The 49ers secondary is certainly full of holes, whereas the Bengals have been surpisingly good on offence. Dalton is definately starting and the Bungles look good for this one. The Niners are a long way from home so may be tired. Think the Bengals take it but don't cover the spread
<br/>
<strong> Bets: <span class="right">SF +2.5 (1.95)</span></strong>
<br/>
<span class="right"> Profit £0.95 </span>
</p>

<p><strong>NE @ BUF</strong> The Bills have had a good start but they've not met a decent team yet. They'll get a shock in New England when their running game won't keep up with the Pat's high powered pass attack.
<br/>
<strong> Bets: <span class="wrong">NE - 6.5 (1.86)</span></strong>
<br/>
<span class="wrong"> Loss £1.00 </span>
</p>

<p><strong>HOU @ NO</strong> The Texans are another team that are 2-0 without any real struggle, the Saint's have had a tougher openings. The Texans defence has been completely dominant so far and this will really test them, I think they hold and may even pull off a shock in this shootout.
<br/>
<strong> Bets: <span class="wrong">HOU +4 (1.9)</span> <span class="right">Over 52 points (1.9)</span></strong>
<br/>
<span class="wrong"> Loss £0.10 </span>
</p>

<p><strong>NYG @ PHI</strong> Divisional battles are always difficult to call and the Eagles look to be locked on for this win. 9 Points is a lot to give away though. It all depends on what the score is at the end of the third quarter, and I think it'll be a one score game. And it'll stay that way.
<br/>
<strong> Bets: <span class="right">NYG +9 (1.86)</span></strong>
<br/>
<span class="right"> Profit £0.86 </span>
</p>

<p><strong>MIA @ CLE</strong> Yuck. Not a game I'll be having much interest in, Miami takes it. Easily.
<br/>
<strong> Bets: <span class="right">MIA +2.5 (1.95)</span>, <span class="wrong">MIA to win (2.2)</span></strong>
<br/>
<span class="wrong"> Loss £0.05 </span>
</p>

<p><strong>DEN @ TEN</strong> Tennessee have surprised a lot of people beating the Ravens last week. This week they'll do well against a poor Bronco's D. But only win by a FG or so.
<br/>
<strong> Bets: <span class="right">DEN +6.5 (1.9)</span></strong>
<br/>
<span class="right"> Profit £0.90 </span>
</p>

<p><strong>DET @ MIN</strong> 2 years ago this would be a Vikings white-wash, now its a close game.  A 2-0 team take on a 0-2 team, but it'll be closer than this suggests. The lions take it, just
<br/>
<strong> Bets: <span class="right">MIN +3.5 (1.86)</span></strong>
<br/>
<span class="right"> Profit £0.86 </span>
</p>

<p><strong>JAX @ CAR</strong> Cam Newton has made all the headlines as a starter and if he carries on he's definately gonna have a very successful career. He gets his first win here at home.
<br/>
<strong> Bets: <span class="right">CAR -3.5 (1.95)</span> <span class="right">CAR to win (1.55)</span></strong>
<br/>
<span class="right"> Profit £1.50 </span>
</p>

<p><strong>KC @ SD</strong> The Chiefs have been horrible. Really bad. And they've lost they're best player last week. San Diego will absolutely rip them apart. It's not often I'll back more than a 2 score spread, but in this case, yeah..
<br/>
<strong> Bets: <span class="wrong">SD -14.5 (1.9)</span></strong>
<br/>
<span class="wrong"> Loss £1.00 </span>
</p>

<p><strong>NYJ @ OAK</strong> Strange one this. The Jets have underperformed and the Raiders have overperformed. At the begining of the season I give this to the Jets by a mile, but not now. I think the Raiders may even sneak this, especially at home.
<br/>
<strong> Bets: <span class="right">OAK +3.0 (1.9)</span></strong>
<br/>
<span class="right"> Profit £0.90 </span>
</p>

<p><strong>BAL @ STL</strong> Baltimore are a weird 1-1. Which Ravens turn up on Sunday? I think they will have had a bollocking last week and they'll be fired up for this one.
<br/>
<strong> Bets: <span class="right">BAL -4.0 (1.9)</span></strong>
<br/>
<span class="right"> Profit £0.90 </span>
</p>

<p><strong>ATL @ TB</strong> Atlanta beat the Eagles last week, that takes some doing and I don't think the Bucs are any better unless they suddenly get their offence going. I'll take the form team in this one.
<br/>
<strong> Bets: <span class="wrong">ATL +1.5 (1.9)</span> <span class="wrong">Atlanta to win (2.05)</span></strong>
<br/>
<span class="wrong"> Loss £2.00 </span>
</p>

<p><strong>ARZ @ SEA</strong> Not sure about this one. It'll be a bit difficult for the Cardinal's D to step up and start stopping the pass game. Because that's what Seatle will do. I don't think they'll cope.
<br/>
<strong> Bets: <span class="right">SEA +3.5 (1.86)</span></strong>
<br/>
<span class="right"> Profit £0.86 </span>
</p>

<p><strong>GB @ CHI</strong> Intense rivalry means that the form book goes out the window. This'll be a very physical game with the Bears coming out worse off. The Packers D isn't as good as it was when they won it all last year, but they're still tough.
<br/>
<strong> Bets: <span class="right">GB -3.5 (1.9)</span></strong>
<br/>
<span class="right"> Profit £0.90 </span>
</p>

<p><strong>PIT @ IND</strong> The Colts are crap this year, no one is stepping up to the plate now Manning is out for the year and Kerry Colins is just terrible. Steelers get a easy win here. :(
<br/>
<strong> Bets: <span class="wrong">PIT -10.5 (1.9)</span></strong>
<br/>
<span class="wrong"> Loss £1.00 </span>
</p>

<p><strong>WAS @ DAL</strong> Washington have been good this year, Dallas have been meh. Hightower has been a very good addition for the Skins and Romo has been banged up for the Cowboys. Romo hasn't practiced all week but will start, I don't think he's prepared and the Skins take this close game. 
<br/>
<strong> Bets: <span class="right">WAS +6.5 (~1.9 not available at time of writing)</span></strong>
<br/>
<span class="right"> Profit £0.90 </span>
</p>



<h4>Bankers</h4>
<p>
<br/><span class="wrong">NE(-6.5) To beat BUF: 1.86. Loss £5.00</span>
<br/><span class="right">CAR to beat JAX: 1.55 Profit £2.75 </span>
<br/><span class="wrong">ATL(+1.5) to beat TB: 1.9 Loss £5.00</span>
<br/><span class="wrong">PIT(-10.5) to beat IND: 1.9 Loss £1.00</span>
<br/><span class="wrong">4 FOLD ~ 10/1 Loss £1.00</span>
</p>


<h3>Week 2</h3>

<p>Slightly better this week. Just about broke even, I need to stop my other bets. Simple handicap betting is the way to go.</p>
<p>Against the spread: 9-7</p>

<p><strong>OAK @ BUF </strong> Buffalo proved me wrong last week. Are they that good are do KC just suck more? Think this will be a close, low scoring game.
<br/>
<strong>Bets: <span class="right">BUF -3 (1.86)</span><span class="wrong"> Under 43 points (1.9)</span></strong>
<br/>
<span class="wrong">Loss £0.14</span></p>

<p><strong>GB @ CAR </strong> Green Bay beat the defending SB champs last week. Also the Carolina secondary looked awful last week. The Packers have a long rest and the Pathers have had to travel a fair ol' way to get home.  
<br/>
<strong>Bets: <span class="wrong">GB -9.5 (1.9)</span><span class="wrong"> GB to win by 19-24 (7.5)</span></strong>
<br/>
<span class="wrong">Loss £2.00</span></p>

<p><strong>KC @ DET </strong>Kansas city were bad. Real bad. They're gonna have some motivation to bounce back. Not sure it'll be enough though. Be closer than the spread suggests though.
<br/>
<strong>Bets: <span class="wrong">KC +9.0 (1.9)</span></strong>
<br/>
<span class="wrong">Loss £1.00</span></p>

<p><strong>CLE @ IND </strong>This is a tough one for me. As a Colts fan, I want to say they can bounce back. The Browns looked OK last week, but I'm gonna go with my heart on this one
<br/>
<strong>Bets: <span class="wrong">IND +3.0 (1.9)</span></strong>
<br/>
<span class="wrong">Loss £1.00</span></p>

<p><strong>TB @ MIN </strong>McNabb looked old last week. Peterson didn't look like he could carry the Vikings either. Tampa weren't too good either. Given that the Viking's MLB Henderson could be out, Winslow could have a big game at TE for the bucs. 
<br/>
<strong>Bets: <span class="right">TB +3.0 (1.83), TB win (2.3),</span> <span class="wrong"> Winslow to score first TD &amp; TB to win by 1-6 (46.0)</span></strong>
<br/>
<span class="right">Profit £1.13</span></p>

<p><strong> CHI @ NO </strong>Hopefully the Saints have had time to sort out their woefull defence. Two teams with contrasting week one. New Orleans are too good not to bounce back. Shoot out ahoy!
<br/>
<strong><span class="right">Bets: NO -6.5 (1.9)</span> <span class="wrong">Over 47.5 (1.9)</span></strong>
<br/>
<span class="wrong">Loss 0.10</span></p>

<p><strong>JAX @ NYJ</strong>MoJo had a decent week last week, but against a bad team. The Jets secondary will provide a tough look for inexperienced McCown (only started 7 games in 6 year career). The Jags should fall behind and then struggle to keep up. The Jets take it, big.
<br/>
<strong>Bets: <span class="right">NYJ -8.5 (1.9)</span> <span class="wrong"> Defensive TD scored - yes (2.45)</span></strong>
<br/>
<span class="wrong">Loss £0.10</span></p>

<p><strong>SEA @ PIT </strong>The Seahawks crumbled last week and the Steelers just gave the games to the Ravens literally. Seatle's red zone defence was really good, holding the 49ers a FG four times. Special teams obviously let them down but I expect them to have addressed this. The Steelers should win this, but 14 points is too much.
<br/>
<strong>Bets: <span class="wrong">SEA +14.0 (1.9)</span></strong>
<br/>
<span class="wrong">Loss £1.00</span></p>

<p><strong>BAL @ TEN </strong>Baltimore's defence was awesome last week and they tore up the Steelers secondary. Tennessee are not as good as Pitsburgh and I see no reason why they should be able to even keep it close.
<br/>
<strong><span class="wrong">Bets: BAL -5.5 (1.86)</span></strong>
<br/>
<span class="wrong">Loss £1.00</span></p>

<p><strong>ARI @ WAS </strong>Washington being favourite doesn't happen very often. They walked over the Giants, but only because they weren't healthy. The Cards held a very good Cam Newton. Looking at a 2-0 Arizona team after this week is a possibility.
<br/>
<strong>Bets: <span class="right">ARI +3.5 (1.86),</span><span class="wrong"> ARI to win (2.67)</span></strong>
<br/>
<span class="right">Loss £0.14</span></p>

<p><strong>DAL @ SF </strong>The Cowboys coming off a tough loss and the 9ers coming off a big win, opposite feelings going into this one. San Fran only threw for about 100 yards last week. They will need to pass it more to win this one. Unfortunately, I don't think they will.
<br/>
<strong>Bets: <span class="right">DAL -3.0 (1.9)</span></strong>
<br/>
<span class="right">Profit £0.90</span></p>

<p><strong>CIN @ DEN </strong>The Broncos lost to the Raiders. The Raiders! However, the Bengals only beat the Browns. Also if Dalton doesn't start (which he may not) this could be a disaster for the Bungles. 
<br/>
<strong>Bets: <span class="wrong">DEN -3.5 (1.9)</span></strong>
<br/>
<span class="wrong">Loss £1.00</span></p>

<p><strong>HOU @ MIA </strong>Are the Texans really that good? But neither are Miami. Confidence is High in Houston and I think they bring their A game. Especially if Arian Foster can start (Questionable at this time)
<br/>
<strong>Bets: <span class="right">HOU -3.0 (2.0)</span></strong>
<br/>
<span class="right">Profit £1.00</span></p>

<p><strong>SD @ NE </strong>So Brady only threw 4 TDs last week. This week it continues. As much as it pains me, the Pats are just too good. The Chargers are better than the Dolphins but still won't get near New England at Foxborough. Look for LOTS of offence (over 1000 yards!!). 
<br/>
<strong><span class="right">Bets: NE -6.5 (1.9), Total Offensive Yards over 770.5 (1.8)</span></strong>
<br/>
<span class="right">Profit £1.70</span></p>

<p><strong>PHI @ ATL </strong>Another shootout. Atlanta have big things to prove after just crumbling last week. The Eagles had over 200 yards on the ground, look for that to continue here. However the Rams did have the QB, star WR and starting RB all go off injured. This'll be a close one but I reckon the Falcons just sneak it.
<br/>
<strong><span class="right">Bets: ATL +1 (1.95), Over 49.5 (1.9)</span></strong>
<br/>
<span class="right">Profit £1.85</span></p>

<p><strong>STL @ NYG </strong>Both teams were banged up last week but the Giants are still banged up. This'll be another close one, but I reckon the Giants take it. Vegas is only offering 4.5 point for the Rams so I'll take the 6.5 on offer
<br/>
<strong><span class="wrong">Bets: STL +6.5 (1.9)</span></strong>
<br/>
<span class="wrong">Loss £1.00</span></p>

<h4>Bankers</h4>
<p>
  <br/><span class="right">TB(+3.0) to beat MIN: 1.83 (Profit £4.15)</span>
<br/><span class="wrong">CHI @ NO Over 47.5 points: 1.9 (Loss £5)</span>
<br/><span class="wrong">SEA(+14.0) to beat PIT: 1.9 (Loss £5)</span>
<br/><span class="wrong">BAL(-5.5) to beat TEN: 1.86 (Loss £5)</span>
<br/><span class="right">ARI(+3.5) to beat WAS: 1.86 (Profit £4.30)</span>
<br/><span class="right">SD @ NE: Total Offensive Yards over 770.5: 1.8 (Profit £4)</span>
<br/><span class="wrong">6 FOLD ~ 42/1 (Loss £1)</span>
</p>



<h3>Week 1</h3>

<p>BAD week. I mean, really bad. How were Atlanta so bad and the Bills so good. And the Colts just didn't bother trying. Saved a bit by the late games. I guess the first week is always the hardest, no real form to go on.</p>
<p>Would have been nice if SD won by one less. Cam Newton was awesome, except the final red-zone attempt.</p>
<p>In terms of Picks against the Spread: 7-8.</p>

<p>Assuming a £1 bet on each bet and £5 each on bankers (with £1 accumulator): 57p loss all together:</p>


<p><strong>PIT @ BAL</strong> Definately the matchup of the week. If I was picking a winner I'd go Steelers, but not with much confidence. Better bet is Total Points Over 36. Both teams have a dcent QB, who can put up points and I can't see either team scoring less than 2 TDs. That just leaves 8 points from somewhere. Defence could get this, failing that FGs.
  <br/>
  <strong>Bets: </strong><span class="wrong">PIT (2.05)</span>, <span class="right">over 36 (1.9)</span>. <span class="wrong">Special Team or Defensive TD - Yes 2.5</span> 
</br>
<span class="wrong">Loss £1.10</span></p>
<p><strong>CIN @ CL</strong>E	Probably the worst game of the week, if not the season. Two of the worst teams in the league. I've got to go for the Browns, just because I like their young QB, McCoy
<br/>
<strong>Bets: </strong><span class="wrong">CLE -6.5</span>
<br/><span class="wrong">Loss £1.00</span></p>
<p><strong>IND @ HOU</strong>	Peyton Manning is out. That sucks. How many are the Texans going to win by is the question here. This is probably the Colt fan speaking but I think the Colts keep it close, with a big game for Addai because Collins ain't gonna do anything.
<br/>
<strong>Bets: </strong><span class="wrong">IND + 9.0 (1.9). Joseph Addai to score a TD at any time (1.9)</span>
<br/><span class="wrong">Loss £2.00</span>
</p><p><strong>TEN @ JAC</strong>	Both Teams are heavy runners so it'll come down to a battle between MoJo and hris Johnson. I reckon Jones-Drew wins this one and the Jags pound out a win
<br/>
<strong>Bets: </strong><span class="right">JAC -1 (1.86) Under 37 (1.9)</span>
<br/><span class="right">Profit £1.76</span>
</p><p><strong>BUF @ KC</strong>	Buffalo Suck. Their offence suck. Their defence suck.
<br/>
<strong>Bets: </strong><span class="wrong">KC - 5.5 (1.9)</span>
<br/><span class="wrong">Loss £1.00</span>

</p><p><strong>ATL @ CHI</strong>	Going to go out on a limb here and say Atlanta do well here, I just like Their high powered offence. Matt Ryan is a quality QB and will pick on the Bears' average CBs. Look for Roddy White to have a big game
<br/><span class="wrong">Loss £1.00</span>
<br/>
<strong>Bets: </strong><span class="wrong">ATL -2.0 (1.9) ATL -6.5 (2.65), Roddy White to score a TD (1.9). Scorecast: White first TD scorer, ATL by 7-12 (36.0)</span>
<br/><span class="wrong">Loss £4.00</span>
</p><p><strong>DET @ TB</strong>	Two teams both improving year on year. Think both of these will finish 8-8 this year so I'm gonna take a Punt on Detroit
<br/>
<strong>Bets: </strong><span class="right">DET (2.05)</span>
<br/><span class="right">Profit £1.05</span>
</p><p><strong>PHI @ STL</strong>	I like St Louis this year. Unfortuately, they're up against the "Dream Team". The Eagles have so many new faces, I'm hoping they haven't had time to gel yet
<br/>
<strong>Bets: </strong><span class="wrong">STL +4.0 (1.9)</span>
<br/><span class="wrong">Loss £1.00</span>
</p>


<p><strong>NYG @ WAS</strong>	Usually I'd go for the Giants in this one, especially with Grossman calling the shots for Washington. However, the Giants D is banged up and patched together. Still think the Giants take it but not by much
<br/>
  <strong>Bets: </strong><span class="right">WAS +3.0 (1.8)</span>
<br/><span class="right">Profit £0.80</span>
</p><p><strong>CAR @ AR</strong>I	The Panthers have a rookie QB, Cam Newton, starting. He'll hold his own in the first half, but will mostly be handing off to DeAngelo Williams and Jonathon Stewart. The Cards will go up early and the pressue will get to Cam as he has to catchup in a hostile environment and he won't.
<br/>
  <strong>Bets: </strong><span class="right">ARI -6.5 (1.86)</span>
<br/><span class="right">Profit £0.86</span>
</p><p><strong>SEA @ SF</strong>	The 49ers have to come good eventually. I think this may be their year, and what a nice game to get starter with. They win by a TD
<br/>
  <strong>Bets: </strong><span class="right">SF -5.5 (1.9).</span><span class="wrong"> Hcap Tie with SEA +7 (12.0)</span>
<br/><span class="wrong">Loss £0.10</span>
</p><p><strong>MIN @ SD</strong>	I think the bookies have this one wrong. 9 points is way to much to give Minnesota. Yeah, the Chargers win, but by less than a TD
<br/>
  <strong>Bets: </strong><span class="right">MIN +9.0 (1.9)</span>.<span class="wrong">SD by 1-6 (5.5)</span>
<br/><span class="wrong">Loss £0.10</span>
</p><p><strong>DAL @ NYJ</strong>	Good game. The return of Romo will make this fun to watch. Can America's team pull off an upset on National TV? Nah.
<br/>
  <strong>Bets: </strong><span class="wrong>">NYJ -5.5 (1.9)</span>
<br/><span class="wrong">Loss £1.00</span>
</p><p><strong>NE @ MIA</strong>	How many TDs will Tom Brady throw? 3? 4? 7? Something like that. Is there something I don't know?
<br/>
  <strong>Bets: </strong><span class="right">NE -6.5 (1.86) NE -13.5 (2.7)</span>
<br/><span class="right">Profit £2.56</span>
</p><p><strong>OAK @ DEN</strong>	What a crap game for MNF. Both Teams suck. The Broncos are slightly better, having retained the star on Defence.
<br/>
  <strong>Bets: </strong><span class="pending">DEN -3.0 (1.83)</span>
<br/><span class="wrong">Losss £1.00</span>
</p>
<p>I'm also gonna chose 5 or 6 'bankers' each week. These won't be 'bankers' in the true sense of the word but ones I have more confidence in.  This week:</p>
<p>
  <br/><span class="right">PIT-BAL Over 36: 1.9 (Profit £4.50)</span>
<br/><span class="wrong">Joseph Addai to score a TD: 1.9 (Loss £5.00)</span>
<br/><span class="wrong">ATL(-2.0) to beat CHI: 1.9 (Loss £5.00)</span>
<br/><span class="right">MIN(+9.0) to beat SD: 1.9 (Profit £4.50)</span>
<br/><span class="right">NE(-6.5) to beat MIA: 1.86 (Profit 4.30)</span>
<br/><span class="right">SF(-5.5) to beat SEA: 1.9 (Profit £4.50)</span>
<br/><span class="wrong">6 FOLD ~ 46/1 (Loss £1.00)</span>
</p>
