%h2 
  %em sport
  
%p Mostly down to Mr Perkins, I've decided to give my predictions online. And some betting tips.
%p This means that I'm now going to absolutely suck this season but here goes...

%p All odds are based on Bet365 at time of writing.

%h3 Week 6

.game
  .fixture
    .home-team
      IND
    @
    .away-team
      CIN
      .handicap
        (-7.0)
  .notes
    It's gotta happen sooner or later, right? The Colts are getting closer and closer. They seem to be playing a little bit now, but I don't think they'll quite make it.
  .pick
    PICK: IND (+7.0)
  .result
    pending

.game
  .fixture
    .home-team
      CAR
    @
    .away-team
      ATL
      .handicap
        (-7.0)
  .notes
    Carolina have had a tough schedule this year and it doesn't get much easier visiting another play-off team at home. Atlanta will want to bounce back and Ryan will be motivated. This'll be a close game.
  .pick
    PICK: CAR (+4.0)
  .result
    pending
.clear  


= link_to 'Previous weeks...', :action=>'previous'


