<h2><em>sport.</em></h2>

<p>Mostly down to Mr Perkins, I've decided to give my predictions online. And some betting tips.</p>
<p>This means that I'm now going to absolutely suck this season but here goes...</p>

<p>All odds are based on Bet365 at time of writing.</p>

<h3>Week 1</h3>
<p><strong>PIT @ BAL</strong> Definately the matchup of the week. If I was picking a winner I'd go Steelers, but not with much confidence. Better bet is Total Points Over 36. Both teams have a dcent QB, who can put up points and I can't see either team scoring less than 2 TDs. That just leaves 8 points from somewhere. Defence could get this, failing that FGs.
  <br/>
  <strong>Bets: </strong>PIT (2.05), over 36 (1.9). Special Team or Defensive TD - Yes 2.5 
</p>

<p><strong>CIN @ CL</strong>E	Probably the worst game of the week, if not the season. Two of the worst teams in the league. I've got to go for the Browns, just because I like their young QB, McCoy
<br/>
  <strong>Bets: </strong>CLE -6.5
</p>
<p><strong>IND @ HOU</strong>	Peyton Manning is out. That sucks. How many are the Texans going to win by is the question here. This is probably the Colt fan speaking but I think the Colts keep it close, with a big game for Addai because Collins ain't gonna do anything.
<br/>
  <strong>Bets: </strong>IND + 9.0 (1.9). Joseph Addai to score a TD at any time (1.9)
</p><p><strong>TEN @ JAC</strong>	Both Teams are heavy runners so it'll come down to a battle between MoJo and hris Johnson. I reckon Jones-Drew wins this one and the Jags pound out a win
<br/>
  <strong>Bets: </strong>JAC -1 (1.86) Under 37 (1.9)
</p><p><strong>BUF @ KC</strong>	Buffalo Suck. Their offence suck. Their defence suck.
<br/>
  <strong>Bets: </strong>KC - 5.5 (1.9)
</p><p><strong>ATL @ CHI</strong>	Going to go out on a limb here and say Atlanta do well here, I just like Their high powered offence. Matt Ryan is a quality QB and will pick on the Bears' average CBs. Look for Roddy White to have a big game
<br/>
  <strong>Bets: </strong>ATL -2.0 (1.9) ATL -6.5 (2.65), Roddy White to score a TD (1.9). Scorecast: White first TD scorer, ATL by 7-12 (36.0)
</p><p><strong>DET @ TB</strong>	Two teams both improving year on year. Think both of these will finish 8-8 this year so I'm gonna take a Punt on Detroit
<br/>
  <strong>Bets: </strong>DET (2.05)
</p><p><strong>PHI @ STL</strong>	I like St Louis this year. Unfortuately, they're up against the "Dream Team". The Eagles have so many new faces, I'm hoping they haven't had time to gel yet
<br/>
  <strong>Bets: </strong>STL +4.0 (1.9)
</p><p><strong>NYG @ WAS</strong>	Usually I'd go for the Giants in this one, especially with Grossman calling the shots for Washington. However, the Giants D is banged up and patched together. Still think the Giants take it but not by much
<br/>
  <strong>Bets: </strong>WAS +3.0 (1.8)
</p><p><strong>CAR @ AR</strong>I	The Panthers have a rookie QB, Cam Newton, starting. He'll hold his own in the first half, but will mostly be handing off to DeAngelo Williams and Jonathon Stewart. The Cards will go up early and the pressue will get to Cam as he has to catchup in a hostile environment and he won't.
<br/>
  <strong>Bets: </strong>ARI -6.5 (1.86)
</p><p><strong>SEA @ SF</strong>	The 49ers have to come good eventually. I think this may be their year, and what a nice game to get starter with. They win by a TD
<br/>
  <strong>Bets: </strong>SF -5.5 (1.9). Hcap Tie with SEA +7 (12.0) 
</p><p><strong>MIN @ SD</strong>	I think the bookies have this one wrong. 9 points is way to much to give Minnesota. Yeah, the Chargers win, but by less than a TD
<br/>
  <strong>Bets: </strong>MIN +9.0 (1.9). SD by 1-6 (5.5)
</p><p><strong>DAL @ NYJ</strong>	Good game. The return of Romo will make this fun to watch. Can America's team pull off an upset on National TV? Nah.
<br/>
  <strong>Bets: </strong>NYJ -5.5 (1.9)
</p><p><strong>NE @ MIA</strong>	How many TDs will Tom Brady throw? 3? 4? 7? Something like that. Is there something I don't know?
<br/>
  <strong>Bets: </strong>NE -6.5 (1.86) NE -13.5 (2.7)
</p><p><strong>OAK @ DEN</strong>	What a crap game for MNF. Both Teams suck. The Broncos are slightly better, having retained the star on Defence.
<br/>
  <strong>Bets: </strong>DEN -3.0 (1.83)
</p>
<p>I'm also gonna chose 5 or 6 'bankers' each week. These won't be 'bankers' in the true sense of the word but ones I have more confidence in.  This week:</p>
<p>
  <br/>PIT-BAL Over 36: 1.9
<br/>Joseph Addai to score a TD: 1.9
<br/>ATL(-2.0) to beat CHI: 1.9
<br/>MIN(+9.0) to beat SD: 1.9
<br/>NE(-6.5) to beat MIA: 1.86
<br/>SF(-5.5) to beat SEA: 1.9
<br/>6 FOLD ~ 46/1
</p>
