<h2><em>sport.</em></h2>

<p>Mostly down to Mr Perkins, I've decided to give my predictions online. And some betting tips.</p>
<p>This means that I'm now going to absolutely suck this season but here goes...</p>

<p>All odds are based on Bet365 at time of writing.</p>


<h3>Week 4</h3>

<p><strong>DET @ DAL </strong> Detriot is 3-0, and a good 3-0 as well, scoring 33 points a game, allowing only 15. Compare this to Dallas (2-1) who are 23 and 22 respectively. Close game but I think the lions take this one.
<br/>
<strong> Bets: <span class="pending"> DET +2.0 (1.9)</span></strong>
<br/>
<span class="pending"> -</span>
</p>

<p><strong>NO @ JAX </strong> Jacksonville D has been pretty solid, apart from week 2 at the Jets. The Saints are a lot better than the Jets offensively and will tear them apart, Gabbart is not good enough to score 4 TDs, which is what he'll need to get close to the Saints.
<br/>
<strong> Bets: <span class="pending"> NO -7.0 (1.9)</span></strong>
<br/>
<span class="pending"> -</span>
</p>

<p><strong>SF @ PHI </strong> Mike Vick will be playing with a broken hand, yeah it's his non throwing hand, but it still affects his game as a rusher. With the Eagles D allowing 131 yards a game on the ground and Frank Gore in the back field. 9 points is too much to give away.
<br/>
<strong> Bets: <span class="pending"> SF +9.0 (1.86)</span></strong>
<br/>
<span class="pending"> -</span>
</p>

<p><strong>WAS @ STL </strong> The Rams have had a tough start to the season and this is probably their best chance for a win so far. They're getting players back off injury and they may just sneak this one against the skins.
<br/>
<strong> Bets: <span class="pending"> STL + 2.5 (1.9)</span></strong>
<br/>
<span class="pending"> -</span>
</p>

<p><strong>TEN @ CLE </strong> Neither team has really faced an opponent yet. Think this is the Titan's to lose, which they may and with Cleveland at home, I think the 12th man comes up big in this one. 
<br/>
<strong> Bets: <span class="pending">CLE +0 (1.9)</span></strong>
<br/>
<span class="pending"> -</span>
</p>

<p><strong>BUF @ CIN </strong> The Bills are high after beating the Pats last week and are 3-0 for the first time in about 10 years. Wheras the Bengals are coming off a loss to the niners. Easy win for the Bills.
<br/>
<strong> Bets: <span class="pending">BUF -3.0 (1.86)</span></strong>
<br/>
<span class="pending"> -</span>
</p>

<p><strong>MIN @ KC </strong> Two 0-3 teams clash. The Vikings have been good, and then dire in the 4th quarter. The Chiefs have just been dire.
<br/>
<strong> Bets: <span class="pending">MIN -2.5 (1.90)</span></strong>
<br/>
<span class="pending"> -</span>
</p>

<p><strong>CAR @ CHI </strong> Carolina didn't look as good last week in the rain against Jaxonville. But the weather shouldn't play a part here and Cam Newton will get his grove on again and keep this close against the bears.
<br/>
<strong> Bets: <span class="pending">CAR +6.5 (1.86)</span></strong>
<br/>
<span class="pending"> -</span>
</p>

<p><strong>PIT @ HOU </strong> The Steelers should have beaten the Colts by about 20, but just managed to scrape by 3, meanwhile the Texans lost a shootout in New Orleans. The high powered Texans offence will make this very intersting against the tough Pitsburgh D. This game will be decided by a FG.
<br/>
<strong> Bets: <span class="pending">PIT +3.5 (1.90)</span></strong>
<br/>
<span class="pending"> -</span>
</p>

<p><strong>ATL @ SEA </strong> The Falcons suffered a tough loss last week and really underperformed against the Bucs. This week they'll bounce back and hand the Seahawks a pounding.
<br/>
<strong> Bets: <span class="pending">ATL -4.5 (1.90)</span></strong>
<br/>
<span class="pending"> -</span>
</p>

<p><strong>NYG @ ARZ </strong> The Giants beat the Eagles on Monday night, so they're coming off a short week but are hot. Will be a good game this one, but New York's momentum just wins this.
<br/>
<strong> Bets: <span class="pending">NYG -1.0 (1.90)</span></strong>
<br/>
<span class="pending"> -</span>
</p>

<p><strong>MIA @ SD </strong> The Dolphins haven't been very good this year, mind you the Chargers haven't really acheived anything. The Dolphins are better than the Chiefs and the Vikings, both of whom SD have beat by a 3 and 7 points respectively. I'll take Miami with the spread.
<br/>
<strong> Bets: <span class="pending">MIA +7.0 (1.90)</span></strong>
<br/>
<span class="pending"> -</span>
</p>

<p><strong>DEN @ GB </strong> The Packers have been absolutely convincing so far this year and I see no reason why they won't win this one easily. 
<br/>
<strong> Bets: <span class="pending">GB - 12.0 (1.90)</span></strong>
<br/>
<span class="pending"> -</span>
</p>

<p><strong>NE @ OAK </strong> The Pats are gonna be pissed about a tough loss last week. They'll come out all guns blazing and walk down the field with ease. The Raiders won't make it easy for them, but they'll win by a TD.
<br/>
<strong> Bets: <span class="pending">NE -5.0 (1.90)</span></strong>
<br/>
<span class="pending"> -</span>
</p>

<p><strong>NYJ @ BAL </strong> This is all about which Baltimore turns up. So I think they turn up. The Jets will always play hard and I think they keep it close. Within a FG.
<br/>
<strong> Bets: <span class="pending">NYJ +3.5 (1.86)</span></strong>
<br/>
</p>
<span class="pending"> -</span>

<p><strong>IND @ TB </strong> Painter or Orlovsky. Not a choice I'd like to make. The Colts are starting 0-4, it just depends on whether the Bucs cover teh spread or not. It'll be close and situation will dictate it.
<br/>
<strong> Bets: <span class="pending">TB -10.0 (1.90)</span></strong>
<br/>
<span class="pending"> -</span>
</p>


<h4>Bankers</h4>
<p>
<br/><span class="pending">DET (+2.0) to beat DAL: 1.9</span>
<br/><span class="pending">CAR (+6.5) to beat CHI: 1.86</span>
<br/><span class="pending">SF (+9.0) to beat PHI: 1.86</span>
<br/><span class="pending">TB(-10.0) to beat IND: 1.9</span>
<br/><span class="pending">4 FOLD ~ 12/1</span>
</p>

<%= link_to 'Previous weeks...', :action=>'previous' %>


