%h2 
  %em sport

%h3 
  Week 
  = @games.first.week unless @games.empty?


- for game in @games
  .game{:class=> game.correct? ? 'right' : game.home_result ? 'wrong' : 'pending'}
    .fixture
      .home-team
        =game.away
      @
      .away-team
        =game.home
        .handicap
          ="(#{game.handicap.to_hcap})"
    .notes
      =game.notes
    .pick
      PICK: 
      =game.pick_handicap
      
%h3 My Bets

%ul
  - for bet in @bets
    %li=bet.notes
  
#all-results
  %p Season record to date...
  %ul 
    %li 1:  7-8
    %li 2:  9-7
    %li 3:  11-5
    %li 4:  7-9
    %li 5:  10-3
    %li 6:  6-7 
    %li 7:  8-5
    %li 8:  6-7 
    %li 9:  7-7 
    %li 10: 8-8
    %li 11: 9-5 
    %li 12: 10-6 
    %li 13: 9-6 
    %li 14: 9-6 
    %li 15:  
    %li 16:  
    %li 17:  
  #overall-result
    %strong OVERALL: 116 - 89
  .clear
    /
