<h2><em>sport.</em></h2>

<p>Mostly down to Mr Perkins, I've decided to give my predictions online. And some betting tips.</p>
<p>This means that I'm now going to absolutely suck this season but here goes...</p>

<p>All odds are based on Bet365 at time of writing.</p>


<h3>Week 5</h3>

<p><strong>KC @ IND</strong> Indy may just get their first win here. Curtis has been better than expected last couple of weeks and the Chiefs are awful. Aparently Freeney and Mathis are fit. That tips the edge to the Colts
<br/>
<strong> Bets: <span class="wrong">IND -2 (1.9)</span></strong>
<br/>
<span class="wrong">Loss £1.00 </span>
</p>

<p><strong>ARZ @ MIN</strong> The Vikes lost to the Chiefs last week, now that's gotta hurt. Again, they blew a lead. Both teams will run this. A lot. Since the Vikes have the better runner, I'll go for them.
<br/>
<strong> Bets: <span class="right">MIN  -3 (1.95)</span></strong>
<br/>
<span class="right">Profit £0.95 </span>
</p>

<p><strong>PHI @ BUF</strong> Officially the 'dream team' is no more. It's just plan ol' Philadelphia. Both teams are coming off a loss and looking to get back to winning ways. Vick is playing, which a huge plus. The Eagles just can't defend the pass and I think Fitzpatrick may take advantage of that.
<br/>
<strong> Bets: <span class="right">BUF +3  (1.83)</span></strong>
<br/>
<span class="right">Profit £0.83 </span>
</p>

<p><strong>OAK @ HOU </strong> Another battle of the runners. Houston won't be able to stretch the field without Andre Johnson. For this reason I think it's decided by less than a TD
<br/>
<strong> Bets: <span class="right">OAK  +6 (1.86)</span></strong>
<br/>
<span class="right">Profit £0.86 </span>
</p>

<p><strong>NO @ CAR </strong> One word, Shootout. This'll be fun to watch. It'll be a case of which team scores last. So difficult to call this one. 
<br/>
<strong> Bets: <span class="right">CAR  +6.5 (1.9)</span></strong>
<br/>
<span class="right">Profit £0.90 </span>
</p>

<p><strong>CIN @ JAX </strong> The Bengals are #1 in the league on Defence. That's amazing. Jacksonville have been so-so this year. I like the Bengals in this one. Plus Blaine Gabbert to throw about 3 picks.
<br/>
<strong> Bets: <span class="right">CIN  +2 (1.9)</span></strong>
<br/>
<span class="right">Profit £0.90 </span>
</p>

<p><strong>TEN @ PIT </strong> Wish I saw this at the beginning of the week when the Titans were +8. They are coming off an easy win against the Browns, but the Steelers are coming off a hard loss against the Texans. I'll take the Steelers with their superior running game.
<br/>
<strong> Bets: <span class="right">PIT  -3 (1.83)</span></strong>
<br/>
<span class="right">Profit £0.83 </span>
</p>

<p><strong>SEA @ NYG </strong> I've been impressed with Seatle's Red Zone D this season. However, their offence has been able to do nothing averaging less than 15 points a game. The Giants are up near 25 and this game should be reflective of these stats. Giants by 10.
<br/>
<strong> Bets: <span class="wrong">NYG  -9.5 (1.9)</span></strong>
<br/>
<span class="wrong">Loss £1.00 </span>
</p>

<p><strong>SF @ TB </strong> Two very good teams. I like them both this year and could very well end up being a preview of a play-off game this year. The 9ers are good against the run, which should just tip them for this one.
<br/>
<strong> Bets: <span class="pending">SF  -3 (2.00)</span></strong>
<br/>
<span class="pending"> - </span>
</p>

<p><strong>NYJ @ NE </strong> This ol' chestnut. Huge rivalry game and the Jets always step it up against the Pats. The Jets are coming off two defeats, which is rare for this team. My head says New England, but I'll go for the Jets with the spread being more than a TD
<br/>
<strong> Bets: <span class="pending"> NYJ +7.5 (1.9)</span></strong>
<br/>
<span class="pending"> - </span>
</p>

<p><strong>SD @ DEN </strong> The Chargers finally have a good start to the season, which probably means their going to he playoffs this year. But this isn't a walkover division this year with the Raiders turning up. They have to keep winning. They're better in every category: rushing, passing, points, TOP, 3rd down conversion, Pass D, Run D, Points allowed 3rd down conv given up. How can go against this?
<br/>
<strong> Bets: <span class="pending"> SD -3.5 (1.9)</span></strong>
<br/>
<span class="pending"> - </span>
</p>
<p><strong>GB @ ATL </strong> Green Bay's ethos this year: Score as many points as possible and don't worry about the D. Although they have been strong against the run. The Falcons have been OK this year, but not as good as last year. They'll need to step it up here to have any chance here
<br/>
<strong> Bets: <span class="pending">GB -5.5 (1.9)</span></strong>
<br/>
<span class="pending"> - </span>
</p>

<p><strong>CHI @ DET </strong> Another divisional rivalry game. This one will be filthy. I don't like Cutler and he doesn't play well under pressure. Not only will he be on national TV, he'll have a very good pass rush after him all night. Detroit need to keep pace with Green Bay and I think both teams are 5-0 comfotably on Tuesday morning
<br/>
<strong> Bets: <span class="pending">DET  -5.0 (1.9)</span></strong>
<br/>
<span class="pending"> - </span>
</p>



<h4>Bankers</h4>
<p>
<br/><span class="right">CIN (+2) to beat JAX: 1.9. Profit £4.50</span>
<br/><span class="wrong">NYG (-9.5) to bea SEA: 1.9. Loss £5.00</span>
<br/><span class="pending">NYJ (+7.5) to beat NE: 1.9</span>
<br/><span class="pending">SD (-3.5) to beat DEN: 1.9</span>
<br/><span class="pending">4 FOLD ~ 12/1</span>
</p>

<%= link_to 'Previous weeks...', :action=>'previous' %>


