<h2><em>sport.</em></h2>

<p>Mostly down to Mr Perkins, I've decided to give my predictions online. And some betting tips.</p>
<p>This means that I'm now going to absolutely suck this season but here goes...</p>

<p>All odds are based on Bet365 at time of writing.</p>


<h3>Week 3</h3>

<p><strong>SF @ CIN</strong> The 49ers secondary is certainly full of holes, whereas the Bengals have been surpisingly good on offence. Dalton is definately starting and the Bungles look good for this one. The Niners are a long way from home so may be tired. Think the Bengals take it but don't cover the spread
<br/>
<strong> Bets: <span class="pending">SF +2.5 (1.95)</span></strong>
<br/>
<span class="pending"> - </span>
</p>

<p><strong>NE @ BUF</strong> The Bills have had a good start but they've not met a decent team yet. They'll get a shock in New England when their running game won't keep up with the Pat's high powered pass attack.
<br/>
<strong> Bets: <span class="pending">NE - 6.5 (1.86)</span></strong>
<br/>
<span class="pending"> - </span>
</p>

<p><strong>HOU @ NO</strong> The Texans are another team that are 2-0 without any real struggle, the Saint's have had a tougher openings. The Texans defence has been completely dominant so far and this will really test them, I think they hold and may even pull off a shock in this shootout.
<br/>
<strong> Bets: <span class="pending">HOU +4 (1.9)</span> <span class="pending">Over 52 points (1.9)</span></strong>
<br/>
<span class="pending"> - </span>
</p>

<p><strong>NYG @ PHI</strong> Divisional battles are always difficult to call and the Eagles look to be locked on for this win. 9 Points is a lot to give away though. It all depends on what the score is at the end of the third quarter, and I think it'll be a one score game. And it'll stay that way.
<br/>
<strong> Bets: <span class="pending">NYG +9 (1.86)</span></strong>
<br/>
<span class="pending"> - </span>
</p>

<p><strong>MIA @ CLE</strong> Yuck. Not a game I'll be having much interest in, Miami takes it. Easily.
<br/>
<strong> Bets: <span class="pending">MIA +2.5 (1.95)</span>, <span class="pending">MIA to win (2.2)</span></strong>
<br/>
<span class="pending"> - </span>
</p>

<p><strong>DEN @ TEN</strong> Tennessee have surprised a lot of people beating the Ravens last week. This week they'll do well against a poor Bronco's D. But only win by a FG or so.
<br/>
<strong> Bets: <span class="pending">DEN +6.5 (1.9)</span></strong>
<br/>
<span class="pending"> - </span>
</p>

<p><strong>DET @ MIN</strong> 2 years ago this would be a Vikings white-wash, now its a close game.  A 2-0 team take on a 0-2 team, but it'll be closer than this suggests. The lions take it, just
<br/>
<strong> Bets: <span class="pending">MIN +3.5 (1.86)</span></strong>
<br/>
<span class="pending"> - </span>
</p>

<p><strong>JAX @ CAR</strong> Cam Newton has made all the headlines as a starter and if he carries on he's definately gonna have a very successful career. He gets his first win here at home.
<br/>
<strong> Bets: <span class="pending">CAR -3.5 (1.95)</span> <span class="pending">CAR to win (1.55)</span></strong>
<br/>
<span class="pending"> - </span>
</p>

<p><strong>KC @ SD</strong> The Chiefs have been horrible. Really bad. And they've lost they're best player last week. San Diego will absolutely rip them apart. It's not often I'll back more than a 2 score spread, but in this case, yeah..
<br/>
<strong> Bets: <span class="pending">SD -14.5 (1.9)</span></strong>
<br/>
<span class="pending"> - </span>
</p>

<p><strong>NYJ @ OAK</strong> Strange one this. The Jets have underperformed and the Raiders have overperformed. At the begining of the season I give this to the Jets by a mile, but not now. I think the Raiders may even sneak this, especially at home.
<br/>
<strong> Bets: <span class="pending">OAK +3.0 (1.9)</span></strong>
<br/>
<span class="pending"> - </span>
</p>

<p><strong>BAL @ STL</strong> Baltimore are a weird 1-1. Which Ravens turn up on Sunday? I think they will have had a bollocking last week and they'll be fired up for this one.
<br/>
<strong> Bets: <span class="pending">BAL -4.0 (1.9)</span></strong>
<br/>
<span class="pending"> - </span>
</p>

<p><strong>ATL @ TB</strong> Atlanta beat the Eagles last week, that takes some doing and I don't think the Bucs are any better unless they suddenly get their offence going. I'll take the form team in this one.
<br/>
<strong> Bets: <span class="pending">ATL +1.5 (1.9)</span> <span class="pending">Atlanta to win (2.05)</span></strong>
<br/>
<span class="pending"> - </span>
</p>

<p><strong>ARZ @ SEA</strong> Not sure about this one. It'll be a bit difficult for the Cardinal's D to step up and start stopping the pass game. Because that's what Seatle will do. I don't think they'll cope.
<br/>
<strong> Bets: <span class="pending">SEA +3.5 (1.86)</span></strong>
<br/>
<span class="pending"> - </span>
</p>

<p><strong>GB @ CHI</strong> Intense rivalry means that the form book goes out the window. This'll be a very physical game with the Bears coming out worse off. The Packers D isn't as good as it was when they won it all last year, but they're still tough.
<br/>
<strong> Bets: <span class="pending">GB -3.5 (1.9)</span></strong>
<br/>
<span class="pending"> - </span>
</p>

<p><strong>PIT @ IND</strong> The Colts are crap this year, no one is stepping up to the plate now Manning is out for the year and Kerry Colins is just terrible. Steelers get a easy win here. :(
<br/>
<strong> Bets: <span class="pending">PIT -10.5 (1.9)</span></strong>
<br/>
<span class="pending"> - </span>
</p>

<p><strong>WAS @ DAL</strong> Washington have been good this year, Dallas have been meh. Hightower has been a very good addition for the Skins and Romo has been banged up for the Cowboys. Romo hasn't practiced all week but will start, I don't think he's prepared and the Skins take this close game. 
<br/>
<strong> Bets: <span class="pending">WAS +6.5 (1.9)</span></strong>
<br/>
<span class="pending"> - </span>
</p>



<h4>Bankers</h4>
<p>
<br/><span class="pending">NE(-6.5) To beat BUF: 1.86</span>
<br/><span class="pending">CAR to beat JAX: 1.55</span>
<br/><span class="pending">ATL(+1.5) to beat TB: 1.9</span>
<br/><span class="pending">PIT(-10.5) to beat IND: 1.9</span>
<br/><span class="pending">4 FOLD ~ 10/1</span>
</p>


<%= link_to 'Previous weeks...', :action=>'previous' %>


