%h2 
  %em previously...


%h3 Week 6

.game.wrong
  .fixture
    .home-team
      IND
    @
    .away-team
      CIN
      .handicap
        (-7.0)
  .notes
    It's gotta happen sooner or later, right? The Colts are getting closer and closer. They seem to be playing a little bit now, but I don't think they'll quite make it.
  .pick
    PICK: IND (+7.0)
  .result
    /

.game.wrong
  .fixture
    .home-team
      CAR
    @
    .away-team
      ATL
      .handicap
        (-7.0)
  .notes
    Carolina have had a tough schedule this year and it doesn't get much easier visiting another play-off team at home. Atlanta will want to bounce back and Ryan will be motivated. This'll be a close game.
  .pick
    PICK: CAR (+4.0)
  .result
    /
    
.game.right
  .fixture
    .home-team
      STL
    @
    .away-team
      GB
      .handicap
        (-14.0)
  .notes
    2 TDs is a lot to give on the spread but Green bay are on fire and the Rams have no secondary. Bye week won't help the Rams (9 bye weeks wouldn't help the Rams).
  .pick
    PICK: GB (-14.0)
  .result
    /
    
.game.wrong
  .fixture
    .home-team
      JAX
    @
    .away-team
      PIT
      .handicap
        (-12.0)
  .notes
    Similar to the Packers game, this is a very good team against a very bad team. Gabbert is just not good enough to play in this league and Big Ben will pick the Jacksonville D apart.
  .pick
    PICK: PIT (-12.0)
  .result
    /

.game.wrong
  .fixture
    .home-team
      PHI
    @
    .away-team
      WAS
      .handicap
        (+2.0)
  .notes
    The Skins are rested, the Eagles are hurting and getting worse by the week. The Skins were good before their break. Who'd a thunk it - the Skins winning the NFC East this year is a distinct possibility. The Skins are very good against the run this year, which has been Philadelphia's main attack point.
  .pick
    PICK: WAS (+2.0)
  .result
    /

.game.wrong
  .fixture
    .home-team
      SF
    @
    .away-team
      DET
      .handicap
        (-4.0)
  .notes
    Both teams come off impressive vitories, the Lions off a short week. This all depends on who scores first. If it's SF then it'll stay close, if the Lions jump off to an early lead then the 9ers will have to throw, which is not their strongest game. Lions by a TD.
  .pick
    PICK: DET (-4.0)
  .result
    /

.game.right
  .fixture
    .home-team
      BUF
    @
    .away-team
      NYG
      .handicap
        (-3.0)
  .notes
    What the hell happened to the Giants last week? Just didn't turn up. Coughlin will be at them this week and they'll be pumped up this week. However Buffalo are very good this year so will keep this very close. I think the Giants take it but only just.
  .pick
    PICK: BUF(+3.0)
  .result
    /

.game.wrong
  .fixture
    .home-team
      HOU
    @
    .away-team
      BAL
      .handicap
        (-7.5)
  .notes
    Mario Williams is out for the season. Ouch. The Texans lose their pass rush. The Ravens are rested and at home. Houston haven't lost by more than a TD all season, I think they manage to keep this one within touching distance.
  .pick
    PICK: HOU (+7.5)
  .result
    /

.game.right
  .fixture
    .home-team
      CLE
    @
    .away-team
      OAK
      .handicap
        (-7.0)
  .notes
    Cleveland are 2-2. But the two teams they beat were Miami and teh Colts. Not too dificult. The Raiders have beat the Jets and the Raiders. Oakland are at home and there will be plenty of passionate fans there after Al Davis passed last weekend.
  .pick
    PICK: OAK (-7.0)
  .result
    /

.game.right
  .fixture
    .home-team
      DAL
    @
    .away-team
      NE
      .handicap
        (-7.0)
  .notes
    I should learn never to go against New England. But, yet again I'm taking the Cowboys in this one. 7 points is too much for the pats to cover and their D simply sucks.
  .pick
    PICK: DAL (+7.0)
  .result
    /

.game.right
  .fixture
    .home-team
      NO
    @
    .away-team
      TB
      .handicap
        (+4.5)
  .notes
    Tampa last week were bad, real bad. They're not a bad team, in fact I think they're good. They'll be coming hoem with something to prove. I think they win this one. The spread is a bonus.
  .pick
    PICK: TB (+4.5)
  .result
    /

.game.wrong
  .fixture
    .home-team
      MIN
    @
    .away-team
      CHI
      .handicap
        (-3.0)
  .notes
    Big divisional game on Sunday night. The Vikes seem to have recovered and now play football in the 4th quarter. Minnesota pash rush is awesome and and the Bears O-line is baaaaad. Cutler gets flattened. Lots.
  .pick
    PICK: MIN (+3.0)
  .result
    /

.game.right
  .fixture
    .home-team
      MIA
    @
    .away-team
      NYJ
      .handicap
        (-7.0)
  .notes
    Miami are competing with the Colts for the worst team in the league title. The Jets are at home on Monday night. The entire nation watches the Dolphins get crushed.
  .pick
    PICK: NYJ (-7.0) 
  .result
    /

=render :partial=>'older'
