<h2>previously...</h2>



<h3>Week 2</h3>

<p>Slightly better this week. Just about broke even, I need to stop my other bets. Simple handicap betting is the way to go.</p>
<p>Against the spread: 9-7</p>

<p><strong>OAK @ BUF </strong> Buffalo proved me wrong last week. Are they that good are do KC just suck more? Think this will be a close, low scoring game.
<br/>
<strong>Bets: <span class="right">BUF -3 (1.86)</span><span class="wrong"> Under 43 points (1.9)</span></strong>
<br/>
<span class="wrong">Loss £0.14</span></p>

<p><strong>GB @ CAR </strong> Green Bay beat the defending SB champs last week. Also the Carolina secondary looked awful last week. The Packers have a long rest and the Pathers have had to travel a fair ol' way to get home.  
<br/>
<strong>Bets: <span class="wrong">GB -9.5 (1.9)</span><span class="wrong"> GB to win by 19-24 (7.5)</span></strong>
<br/>
<span class="wrong">Loss £2.00</span></p>

<p><strong>KC @ DET </strong>Kansas city were bad. Real bad. They're gonna have some motivation to bounce back. Not sure it'll be enough though. Be closer than the spread suggests though.
<br/>
<strong>Bets: <span class="wrong">KC +9.0 (1.9)</span></strong>
<br/>
<span class="wrong">Loss £1.00</span></p>

<p><strong>CLE @ IND </strong>This is a tough one for me. As a Colts fan, I want to say they can bounce back. The Browns looked OK last week, but I'm gonna go with my heart on this one
<br/>
<strong>Bets: <span class="wrong">IND +3.0 (1.9)</span></strong>
<br/>
<span class="wrong">Loss £1.00</span></p>

<p><strong>TB @ MIN </strong>McNabb looked old last week. Peterson didn't look like he could carry the Vikings either. Tampa weren't too good either. Given that the Viking's MLB Henderson could be out, Winslow could have a big game at TE for the bucs. 
<br/>
<strong>Bets: <span class="right">TB +3.0 (1.83), TB win (2.3),</span> <span class="wrong"> Winslow to score first TD &amp; TB to win by 1-6 (46.0)</span></strong>
<br/>
<span class="right">Profit £1.13</span></p>

<p><strong> CHI @ NO </strong>Hopefully the Saints have had time to sort out their woefull defence. Two teams with contrasting week one. New Orleans are too good not to bounce back. Shoot out ahoy!
<br/>
<strong><span class="right">Bets: NO -6.5 (1.9)</span> <span class="wrong">Over 47.5 (1.9)</span></strong>
<br/>
<span class="wrong">Loss 0.10</span></p>

<p><strong>JAX @ NYJ</strong>MoJo had a decent week last week, but against a bad team. The Jets secondary will provide a tough look for inexperienced McCown (only started 7 games in 6 year career). The Jags should fall behind and then struggle to keep up. The Jets take it, big.
<br/>
<strong>Bets: <span class="right">NYJ -8.5 (1.9)</span> <span class="wrong"> Defensive TD scored - yes (2.45)</span></strong>
<br/>
<span class="wrong">Loss £0.10</span></p>

<p><strong>SEA @ PIT </strong>The Seahawks crumbled last week and the Steelers just gave the games to the Ravens literally. Seatle's red zone defence was really good, holding the 49ers a FG four times. Special teams obviously let them down but I expect them to have addressed this. The Steelers should win this, but 14 points is too much.
<br/>
<strong>Bets: <span class="wrong">SEA +14.0 (1.9)</span></strong>
<br/>
<span class="wrong">Loss £1.00</span></p>

<p><strong>BAL @ TEN </strong>Baltimore's defence was awesome last week and they tore up the Steelers secondary. Tennessee are not as good as Pitsburgh and I see no reason why they should be able to even keep it close.
<br/>
<strong><span class="wrong">Bets: BAL -5.5 (1.86)</span></strong>
<br/>
<span class="wrong">Loss £1.00</span></p>

<p><strong>ARI @ WAS </strong>Washington being favourite doesn't happen very often. They walked over the Giants, but only because they weren't healthy. The Cards held a very good Cam Newton. Looking at a 2-0 Arizona team after this week is a possibility.
<br/>
<strong>Bets: <span class="right">ARI +3.5 (1.86),</span><span class="wrong"> ARI to win (2.67)</span></strong>
<br/>
<span class="right">Loss £0.14</span></p>

<p><strong>DAL @ SF </strong>The Cowboys coming off a tough loss and the 9ers coming off a big win, opposite feelings going into this one. San Fran only threw for about 100 yards last week. They will need to pass it more to win this one. Unfortunately, I don't think they will.
<br/>
<strong>Bets: <span class="right">DAL -3.0 (1.9)</span></strong>
<br/>
<span class="right">Profit £0.90</span></p>

<p><strong>CIN @ DEN </strong>The Broncos lost to the Raiders. The Raiders! However, the Bengals only beat the Browns. Also if Dalton doesn't start (which he may not) this could be a disaster for the Bungles. 
<br/>
<strong>Bets: <span class="wrong">DEN -3.5 (1.9)</span></strong>
<br/>
<span class="wrong">Loss £1.00</span></p>

<p><strong>HOU @ MIA </strong>Are the Texans really that good? But neither are Miami. Confidence is High in Houston and I think they bring their A game. Especially if Arian Foster can start (Questionable at this time)
<br/>
<strong>Bets: <span class="right">HOU -3.0 (2.0)</span></strong>
<br/>
<span class="right">Profit £1.00</span></p>

<p><strong>SD @ NE </strong>So Brady only threw 4 TDs last week. This week it continues. As much as it pains me, the Pats are just too good. The Chargers are better than the Dolphins but still won't get near New England at Foxborough. Look for LOTS of offence (over 1000 yards!!). 
<br/>
<strong><span class="right">Bets: NE -6.5 (1.9), Total Offensive Yards over 770.5 (1.8)</span></strong>
<br/>
<span class="right">Profit £1.70</span></p>

<p><strong>PHI @ ATL </strong>Another shootout. Atlanta have big things to prove after just crumbling last week. The Eagles had over 200 yards on the ground, look for that to continue here. However the Rams did have the QB, star WR and starting RB all go off injured. This'll be a close one but I reckon the Falcons just sneak it.
<br/>
<strong><span class="right">Bets: ATL +1 (1.95), Over 49.5 (1.9)</span></strong>
<br/>
<span class="right">Profit £1.85</span></p>

<p><strong>STL @ NYG </strong>Both teams were banged up last week but the Giants are still banged up. This'll be another close one, but I reckon the Giants take it. Vegas is only offering 4.5 point for the Rams so I'll take the 6.5 on offer
<br/>
<strong><span class="wrong">Bets: STL +6.5 (1.9)</span></strong>
<br/>
<span class="wrong">Loss £1.00</span></p>

<h4>Bankers</h4>
<p>
  <br/><span class="right">TB(+3.0) to beat MIN: 1.83 (Profit £4.15)</span>
<br/><span class="wrong">CHI @ NO Over 47.5 points: 1.9 (Loss £5)</span>
<br/><span class="wrong">SEA(+14.0) to beat PIT: 1.9 (Loss £5)</span>
<br/><span class="wrong">BAL(-5.5) to beat TEN: 1.86 (Loss £5)</span>
<br/><span class="right">ARI(+3.5) to beat WAS: 1.86 (Profit £4.30)</span>
<br/><span class="right">SD @ NE: Total Offensive Yards over 770.5: 1.8 (Profit £4)</span>
<br/><span class="wrong">6 FOLD ~ 42/1 (Loss £1)</span>
</p>



<h3>Week 1</h3>

<p>BAD week. I mean, really bad. How were Atlanta so bad and the Bills so good. And the Colts just didn't bother trying. Saved a bit by the late games. I guess the first week is always the hardest, no real form to go on.</p>
<p>Would have been nice if SD won by one less. Cam Newton was awesome, except the final red-zone attempt.</p>
<p>In terms of Picks against the Spread: 7-8.</p>

<p>Assuming a £1 bet on each bet and £5 each on bankers (with £1 accumulator): 57p loss all together:</p>


<p><strong>PIT @ BAL</strong> Definately the matchup of the week. If I was picking a winner I'd go Steelers, but not with much confidence. Better bet is Total Points Over 36. Both teams have a dcent QB, who can put up points and I can't see either team scoring less than 2 TDs. That just leaves 8 points from somewhere. Defence could get this, failing that FGs.
  <br/>
  <strong>Bets: </strong><span class="wrong">PIT (2.05)</span>, <span class="right">over 36 (1.9)</span>. <span class="wrong">Special Team or Defensive TD - Yes 2.5</span> 
</br>
<span class="wrong">Loss £1.10</span></p>
<p><strong>CIN @ CL</strong>E	Probably the worst game of the week, if not the season. Two of the worst teams in the league. I've got to go for the Browns, just because I like their young QB, McCoy
<br/>
<strong>Bets: </strong><span class="wrong">CLE -6.5</span>
<br/><span class="wrong">Loss £1.00</span></p>
<p><strong>IND @ HOU</strong>	Peyton Manning is out. That sucks. How many are the Texans going to win by is the question here. This is probably the Colt fan speaking but I think the Colts keep it close, with a big game for Addai because Collins ain't gonna do anything.
<br/>
<strong>Bets: </strong><span class="wrong">IND + 9.0 (1.9). Joseph Addai to score a TD at any time (1.9)</span>
<br/><span class="wrong">Loss £2.00</span>
</p><p><strong>TEN @ JAC</strong>	Both Teams are heavy runners so it'll come down to a battle between MoJo and hris Johnson. I reckon Jones-Drew wins this one and the Jags pound out a win
<br/>
<strong>Bets: </strong><span class="right">JAC -1 (1.86) Under 37 (1.9)</span>
<br/><span class="right">Profit £1.76</span>
</p><p><strong>BUF @ KC</strong>	Buffalo Suck. Their offence suck. Their defence suck.
<br/>
<strong>Bets: </strong><span class="wrong">KC - 5.5 (1.9)</span>
<br/><span class="wrong">Loss £1.00</span>

</p><p><strong>ATL @ CHI</strong>	Going to go out on a limb here and say Atlanta do well here, I just like Their high powered offence. Matt Ryan is a quality QB and will pick on the Bears' average CBs. Look for Roddy White to have a big game
<br/><span class="wrong">Loss £1.00</span>
<br/>
<strong>Bets: </strong><span class="wrong">ATL -2.0 (1.9) ATL -6.5 (2.65), Roddy White to score a TD (1.9). Scorecast: White first TD scorer, ATL by 7-12 (36.0)</span>
<br/><span class="wrong">Loss £4.00</span>
</p><p><strong>DET @ TB</strong>	Two teams both improving year on year. Think both of these will finish 8-8 this year so I'm gonna take a Punt on Detroit
<br/>
<strong>Bets: </strong><span class="right">DET (2.05)</span>
<br/><span class="right">Profit £1.05</span>
</p><p><strong>PHI @ STL</strong>	I like St Louis this year. Unfortuately, they're up against the "Dream Team". The Eagles have so many new faces, I'm hoping they haven't had time to gel yet
<br/>
<strong>Bets: </strong><span class="wrong">STL +4.0 (1.9)</span>
<br/><span class="wrong">Loss £1.00</span>
</p>


<p><strong>NYG @ WAS</strong>	Usually I'd go for the Giants in this one, especially with Grossman calling the shots for Washington. However, the Giants D is banged up and patched together. Still think the Giants take it but not by much
<br/>
  <strong>Bets: </strong><span class="right">WAS +3.0 (1.8)</span>
<br/><span class="right">Profit £0.80</span>
</p><p><strong>CAR @ AR</strong>I	The Panthers have a rookie QB, Cam Newton, starting. He'll hold his own in the first half, but will mostly be handing off to DeAngelo Williams and Jonathon Stewart. The Cards will go up early and the pressue will get to Cam as he has to catchup in a hostile environment and he won't.
<br/>
  <strong>Bets: </strong><span class="right">ARI -6.5 (1.86)</span>
<br/><span class="right">Profit £0.86</span>
</p><p><strong>SEA @ SF</strong>	The 49ers have to come good eventually. I think this may be their year, and what a nice game to get starter with. They win by a TD
<br/>
  <strong>Bets: </strong><span class="right">SF -5.5 (1.9).</span><span class="wrong"> Hcap Tie with SEA +7 (12.0)</span>
<br/><span class="wrong">Loss £0.10</span>
</p><p><strong>MIN @ SD</strong>	I think the bookies have this one wrong. 9 points is way to much to give Minnesota. Yeah, the Chargers win, but by less than a TD
<br/>
  <strong>Bets: </strong><span class="right">MIN +9.0 (1.9)</span>.<span class="wrong">SD by 1-6 (5.5)</span>
<br/><span class="wrong">Loss £0.10</span>
</p><p><strong>DAL @ NYJ</strong>	Good game. The return of Romo will make this fun to watch. Can America's team pull off an upset on National TV? Nah.
<br/>
  <strong>Bets: </strong><span class="wrong>">NYJ -5.5 (1.9)</span>
<br/><span class="wrong">Loss £1.00</span>
</p><p><strong>NE @ MIA</strong>	How many TDs will Tom Brady throw? 3? 4? 7? Something like that. Is there something I don't know?
<br/>
  <strong>Bets: </strong><span class="right">NE -6.5 (1.86) NE -13.5 (2.7)</span>
<br/><span class="right">Profit £2.56</span>
</p><p><strong>OAK @ DEN</strong>	What a crap game for MNF. Both Teams suck. The Broncos are slightly better, having retained the star on Defence.
<br/>
  <strong>Bets: </strong><span class="pending">DEN -3.0 (1.83)</span>
<br/><span class="wrong">Losss £1.00</span>
</p>
<p>I'm also gonna chose 5 or 6 'bankers' each week. These won't be 'bankers' in the true sense of the word but ones I have more confidence in.  This week:</p>
<p>
  <br/><span class="right">PIT-BAL Over 36: 1.9 (Profit £4.50)</span>
<br/><span class="wrong">Joseph Addai to score a TD: 1.9 (Loss £5.00)</span>
<br/><span class="wrong">ATL(-2.0) to beat CHI: 1.9 (Loss £5.00)</span>
<br/><span class="right">MIN(+9.0) to beat SD: 1.9 (Profit £4.50)</span>
<br/><span class="right">NE(-6.5) to beat MIA: 1.86 (Profit 4.30)</span>
<br/><span class="right">SF(-5.5) to beat SEA: 1.9 (Profit £4.50)</span>
<br/><span class="wrong">6 FOLD ~ 46/1 (Loss £1.00)</span>
</p>
