<h2><em>beer.</em></h2>

<p>Beer is good. I like beer. This is a list of the beers I have drunk recently.</p>

<table>
<thead>
  <tr>
    <td><strong>Beer</strong></td>
    <td><strong>Comment</strong></td>
    <td><strong>Score (/100)</strong></td>
  </tr>
</thead>
<% @beers.each do |beer| %>
<tr>
  <td><strong><%= beer.name %> </strong></td>
  <td><%= beer.comment %></td>
  <td><%= beer.score %> / 100</td>  
</tr>
<% end %>
</table>